input {
    height: 30px;
    color: #494949;
    background-color: aquamarine;
    font-weight: bold;
    font-family: Book Antiqua, Arial;
    font-size: 18px;
    border-radius: 10px;
    border-width: 2px;
}